body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.calculator {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-group button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-group button:hover {
    background-color: #0056b3;
}

.resultado {
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: transparent;
}

#rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
}

.rodapep {
    margin: 0;
}
